# Dependencies
node_modules
dist
.astro
.vercel

# Environment
.env
.env.local

# IDE
.vscode
.idea
*.code-workspace
.DS_Store
.gemini

# Project specific
misc-docs/
scratch/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
